<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandy Tsang</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
        <a class="navbar justify-content-center" id="Mandy">Mandy Tsang</a>
    <nav class="navbar custom-navbar navbar-expand-lg navbar-light ">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse justify-content-center navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav justify-content-center ">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle hvr-rectangle-in" type="button" data-toggle="dropdown">Projects</button>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="#projects">Perfect Cup - A Coffee App</a></li>
                      <li><a class="nav-link" href="#projects">The Developers Tech Blog</a></li>
                      <li><a class="nav-link" href="#projects">MT Notebook</a></li>
                      <li><a class="nav-link" href="#projects">Password Generator</a></li>
                      <li><a class="nav-link" href="#projects">A Work Day Scheduler</a></li>
                      <li><a class="nav-link" href="#projects">Is It a Movie? </a></li>
                    </ul>
                  </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle hvr-rectangle-in" type="button" data-toggle="dropdown">Resume</button>
                <ul class="dropdown-menu">
                  <li><embed src="./img/HMTsangResume.pdf" width="500" height="600" type="application/pdf">Resume</li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle hvr-rectangle-in" type="button" data-toggle="dropdown">Contact
                </button>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/MANDYTSANG007" target="_blank">GitHub</a></li>
                  <li><a href="https://www.linkedin.com/in/man-tsang-64308b22a/" target="_blank">LinkedIn</a></li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-5">
        <div class="jumbotron" id="landing-background">
          <h1 class="display-4 d-flex justify-content-center">Hello, world!</h1>
          <img src="./img/IMG_4853.JPG" class="float-left" id="mandyPicture" alt="Picture of Mandy Tsang">
          <p class="lead">Mandy is passionate about building meaningful user experience applications. She is currently studying coding and web development. 
                          <br>
                          <br>
                          Her background in the financial industry gives her a solid understanding of users in terms of their needs and values. She is excited to incorporate her background on building creative and stimulating projects that can benefit all.
                          <br>
                          <br>
                          When she is not coding, fixing her cars or reading, you will find her traveling around the globe enjoying local cuisine. </p>
                          <br>
          <hr class="my-4">
        </div>
        {{{ body }}}
    <footer class="footer">
        <div class="footer-container">
            <span id="footer-text-color">&copy 2022 Mandy Tsang</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</body>
</html>