<!-- This is the form for adding a new contact -->
<div class="add-contact-container">
  <h2>
    CONTACT
  </h2>
  <form>
    <div class="form-group">
      <label for="name">Name (Required)</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="email">Email (Required)</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="comment">Comment (Required)</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
    <script src="/js/contact.js"></script>