<section class="contact">

    <h1 class="heading"> CONTACT </h1>

    <form class="contactForm"> 
        <input id="name" type="text" placeholder="your name is (required)" class="box">
        <input id="email" type="email" placeholder="your email (required)" class="box">
        <input id="comment" type="text" placeholder="comment (required)" class="box">
        <button type="submit" value="Submit"> Submit </button>
    </form>

</section>
    

<script src="/js/contact.js"></script>
