<!-- This is the form for adding a new contact -->
<div class="add-contact-container">
  <h2>
   CONTACT
  </h2>
  <p>testing contact</p>

<form>
  <div class="form-group">
    <label for="name">Name (Required)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="email">Email (Required)</label>
    <select class="form-control" id="exampleFormControlSelect1">
    </select>
  </div>
  <div class="form-group">
    <label for="comment">Comment (Required)</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
  <script src="/js/contact.js"></script>