<h2 class="d-flex justify-content-center" id="projects">Projects</h2>
<div class="container mt-5">
   {{#each projects as |project|}}
   <div>
      <div>{{project.title}}</div>
      <div>{{description}}</div>
      <div>{{tech}}</div>
      <img src="{{project.image}}" />
      <hr />
   </div>
   {{/each}}
</div>
<div class="add-contact-container">
  <h2>
   CONTACT
  </h2>
<form>
  <div class="form-group">
    <label for="name">Name (Required)</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="email">Email (Required)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="comment">Comment (Required)</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>
   <button class="btn btn-primary" type="submit">Submit form</button>
   <br/>
   <br/>
</form>